# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Env files
.env
.env.*.local

# Build / dist
dist/
build/

# Node (if any frontend bits later)
node_modules/

# Docker
.dockerignore
